<hr>
<footer>
    <div class="foot-li">
        <div class="col">
            <img class="logo" src="/img/logo.png" alt="">
            <h4>Contact </h4>
            <p><strong>Address:</strong>Hyderabad</p>
            <p><strong><i class="fa-solid fa-envelope"></i></strong> xyz@email.com</p>

        </div>
        <!-- <div class="col">
            <div class="socials">
                <h4>Our socials</h4>
                <div class="icon">
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div> -->

        <div class="col">
            <h4>About</h4>
            <a href="/about">About us</a>
            <a href="/contact">Contacts</a>
            <a href="/about">About us</a>
            <a href="/about">Terms & conditions</a>
            <a href="/policy">Privacy Policy</a>
        </div>
    </div>

    <div class="copyright">
        <p>© 2023 --company Name--. All rights reserved</p>
    </div>

</footer>


<div class="sticky-social">
    <ul class="social">
        <li class="pin"><a href="#"><i class="fa-solid fa-phone " aria-hidden="true"></i></a></li>
        <li class="vim"><a href="#"><i class="fa-brands fa-whatsapp" style="color: #fff;" aria-hidden="true"></i></a>
        </li>
        <li class="fb"><a href="#"><i class="fa-brands fa-facebook-f" style="color: #fff;" aria-hidden="true"></i></a>
        </li>
        <li class="twitter"><a href="#"><i class="fa-brands fa-twitter" style="color: #fff;" aria-hidden="true"></i></a>
        </li>
        <li class="insta"><a href="#"><i class="fa-brands fa-instagram" style="color: #fff;" aria-hidden="true"></i></a>
        </li>

    </ul>
</div>
</section>
</body>


</html>