<%- include('partials/header'); -%>
    <section id="product" class="margin-p1">
        <h1>Gallery</h1>
        <h2>Hyderabad Escort Girls</h2>
        <p>Best girls according to your choice</p>


        <div class="pro-container">
            <div class="pro">
                <img src="/img/girls/image26.jpg" alt="">
                <div class="des">
                    <span>verified</span>
                    <h3>Neha</h3>
                    <h5>⭐⭐⭐⭐⭐</h5>
                </div>
                <a href="https://wa.me/+918252815142?text=Hi I need a pretty girl "><i
                        class="fa-brands fa-whatsapp whatsapp"></i></a>
                <a href="tel:+918252815142"><img src="img/phone-call.png" alt=""></a>
            </div>
            <div class="pro">
                <img src="/img/girls/image2.jpg" alt="">
                <div class="des">
                    <span>verified</span>
                    <h3>Akancha</h3>
                    <h5>⭐⭐⭐⭐⭐</h5>
                </div>
                <a href="https://wa.me/+918252815142?text=Hi I need a pretty girl "><i
                        class="fa-brands fa-whatsapp whatsapp"></i></a>
                <a href="#"><img src="/img/phone-call.png" alt=""></a>
            </div>
            <div class="pro">
                <img src="/img/girls/image3.jpg" alt="">
                <div class="des">
                    <span>verified</span>
                    <h3>Angali</h3>
                    <h5>⭐⭐⭐⭐⭐</h5>
                </div>
                <a href="https://wa.me/+918252815142?text=Hi I need a pretty girl "><i
                        class="fa-brands fa-whatsapp whatsapp"></i></a>
                <a href="#"><img src="/img/phone-call.png" alt=""></a>
            </div>
            <div class="pro">
                <img src="/img/girls/image4.jpg" alt="">
                <div class="des">
                    <span>verified</span>
                    <h3>Chandini</h3>
                    <h5>⭐⭐⭐⭐⭐</h5>
                </div>
                <a href="https://wa.me/+918252815142?text=Hi I need a pretty girl "><i
                        class="fa-brands fa-whatsapp whatsapp"></i></a>
                <a href="#"><img src="/img/phone-call.png" alt=""></a>
            </div>
            <div class="pro">
                <img src="/img/girls/image5.jpg" alt="">
                <div class="des">
                    <span>verified</span>
                    <h3>Deepika</h3>
                    <h5>⭐⭐⭐⭐⭐</h5>
                </div>
                <a href="https://wa.me/+918252815142?text=Hi I need a pretty girl "><i
                        class="fa-brands fa-whatsapp whatsapp"></i></a>
                <a href="#"><img src="/img/phone-call.png" alt=""></a>
            </div>
            <div class="pro">
                <img src="/img/girls/image6.jpg" alt="">
                <div class="des">
                    <span>verified</span>
                    <h3>Sanjana</h3>
                    <h5>⭐⭐⭐⭐⭐</h5>
                </div>
                <a href="https://wa.me/+918252815142?text=Hi I need a pretty girl "><i
                        class="fa-brands fa-whatsapp whatsapp"></i></a>
                <a href="#"><img src="/img/phone-call.png" alt=""></a>
            </div>
            <div class="pro">
                <img src="/img/girls/image7.jpg" alt="">
                <div class="des">
                    <span>verified</span>
                    <h3>Ruhi</h3>
                    <h5>⭐⭐⭐⭐⭐</h5>
                </div>
                <a href="https://wa.me/+918252815142?text=Hi I need a pretty girl "><i
                        class="fa-brands fa-whatsapp whatsapp"></i></a>
                <a href="#"><img src="/img/phone-call.png" alt=""></a>
            </div>
            <div class="pro">
                <img src="/img/girls/image8.jpg" alt="">
                <div class="des">
                    <span>verified</span>
                    <h3>Rekha</h3>
                    <h5>⭐⭐⭐⭐⭐</h5>
                </div>
                <a href="https://wa.me/+918252815142?text=Hi I need a pretty girl "><i
                        class="fa-brands fa-whatsapp whatsapp"></i></a>
                <a href="#"><img src="/img/phone-call.png" alt=""></a>
            </div>
            <div class="pro">
                <img src="/img/girls/image9.jpg" alt="">
                <div class="des">
                    <span>verified</span>
                    <h3>Anushka</h3>
                    <h5>⭐⭐⭐⭐⭐</h5>
                </div>
                <a href="https://wa.me/+918252815142?text=Hi I need a pretty girl "><i
                        class="fa-brands fa-whatsapp whatsapp"></i></a>
                <a href="#"><img src="/img/phone-call.png" alt=""></a>
            </div>
            <div class="pro">
                <img src="/img/girls/image10.jpg" alt="">
                <div class="des">
                    <span>verified</span>
                    <h3>Anchal</h3>
                    <h5>⭐⭐⭐⭐⭐</h5>
                </div>
                <a href="https://wa.me/+918252815142?text=Hi I need a pretty girl "><i
                        class="fa-brands fa-whatsapp whatsapp"></i></a>
                <a href="#"><img src="/img/phone-call.png" alt=""></a>
            </div>
            <div class="pro">
                <img src="/img/girls/image11.jpg" alt="">
                <div class="des">
                    <span>verified</span>
                    <h3>Sanya</h3>
                    <h5>⭐⭐⭐⭐⭐</h5>
                </div>
                <a href="https://wa.me/+918252815142?text=Hi I need a pretty girl "><i
                        class="fa-brands fa-whatsapp whatsapp"></i></a>
                <a href="#"><img src="/img/phone-call.png" alt=""></a>
            </div>
            <div class="pro">
                <img src="/img/girls/image12.jpg" alt="">
                <div class="des">
                    <span>verified</span>
                    <h3>Vaishali</h3>
                    <h5>⭐⭐⭐⭐⭐</h5>
                </div>
                <a href="https://wa.me/+918252815142?text=Hi I need a pretty girl "><i
                        class="fa-brands fa-whatsapp whatsapp"></i></a>
                <a href="#"><img src="/img/phone-call.png" alt=""></a>
            </div>
            <div class="pro-container">
                <div class="pro">
                    <img src="/img/girls/image13.jpg" alt="">
                    <div class="des">
                        <span>verified</span>
                        <h3>Archana</h3>
                        <h5>⭐⭐⭐⭐⭐</h5>

                    </div>
                    <a href="https://wa.me/+918252815142?text=Hi I need a pretty girl "><i
                            class="fa-brands fa-whatsapp whatsapp"></i></a>
                    <a href="tel:+918252815142"><img src="img/phone-call.png" alt=""></a>
                </div>
                <div class="pro">
                    <img src="/img/girls/image14.jpg" alt="">
                    <div class="des">
                        <span>verified</span>
                        <h3>Abhisikha</h3>
                        <h5>⭐⭐⭐⭐⭐</h5>

                    </div>
                    <a href="https://wa.me/+918252815142?text=Hi I need a pretty girl "><i
                            class="fa-brands fa-whatsapp whatsapp"></i></a>
                    <a href="tel:+918252815142"><img src="/img/phone-call.png" alt=""></a>
                </div>
                <div class="pro">
                    <img src="/img/girls/image15.jpg" alt="">
                    <div class="des">
                        <span>verified</span>
                        <h3>Nancy</h3>
                        <h5>⭐⭐⭐⭐⭐</h5>

                    </div>
                    <a href="https://wa.me/+918252815142?text=Hi I need a pretty girl "><i
                            class="fa-brands fa-whatsapp whatsapp"></i></a>
                    <a href="tel:+918252815142"><img src="/img/phone-call.png" alt=""></a>
                </div>
                <div class="pro">
                    <img src="/img/girls/image16.jpg" alt="">
                    <div class="des">
                        <span>verified</span>
                        <h3>Naira</h3>
                        <h5>⭐⭐⭐⭐⭐</h5>

                    </div>
                    <a href="https://wa.me/+918252815142?text=Hi I need a pretty girl "><i
                            class="fa-brands fa-whatsapp whatsapp"></i></a>
                    <a href="tel:+918252815142"><img src="/img/phone-call.png" alt=""></a>
                </div>
                <div class="pro">
                    <img src="/img/girls/image17.jpg" alt="">
                    <div class="des">
                        <span>verified</span>
                        <h3>Zara</h3>
                        <h5>⭐⭐⭐⭐⭐</h5>

                    </div>
                    <a href="https://wa.me/+918252815142?text=Hi I need a pretty girl "><i
                            class="fa-brands fa-whatsapp whatsapp"></i></a>
                    <a href="tel:+918252815142"><img src="/img/phone-call.png" alt=""></a>
                </div>
                <div class="pro">
                    <img src="/img/girls/image18.jpg" alt="">
                    <div class="des">
                        <span>verified</span>
                        <h3>Jannat</h3>
                        <h5>⭐⭐⭐⭐⭐</h5>

                    </div>
                    <a href="https://wa.me/+918252815142?text=Hi I need a pretty girl "><i
                            class="fa-brands fa-whatsapp whatsapp"></i></a>
                    <a href="tel:+918252815142"><img src="/img/phone-call.png" alt=""></a>
                </div>
                <div class="pro">
                    <img src="/img/girls/image19.jpg" alt="">
                    <div class="des">
                        <span>verified</span>
                        <h3>Sonya</h3>
                        <h5>⭐⭐⭐⭐⭐</h5>

                    </div>
                    <a href="https://wa.me/+918252815142?text=Hi I need a pretty girl "><i
                            class="fa-brands fa-whatsapp whatsapp"></i></a>
                    <a href="tel:+918252815142"><img src="/img/phone-call.png" alt=""></a>
                </div>
                <div class="pro">
                    <img src="/img/girls/image20.jpg" alt="">
                    <div class="des">
                        <span>verified</span>
                        <h3>Alina</h3>
                        <h5>⭐⭐⭐⭐⭐</h5>

                    </div>
                    <a href="https://wa.me/+918252815142?text=Hi I need a pretty girl "><i
                            class="fa-brands fa-whatsapp whatsapp"></i></a>
                    <a href="tel:+918252815142"><img src="/img/phone-call.png" alt=""></a>
                </div>
                <div class="pro">
                    <img src="/img/girls/image21.jpg" alt="">
                    <div class="des">
                        <span>verified</span>
                        <h3>Laxmi</h3>
                        <h5>⭐⭐⭐⭐⭐</h5>

                    </div>
                    <a href="https://wa.me/+918252815142?text=Hi I need a pretty girl "><i
                            class="fa-brands fa-whatsapp whatsapp"></i></a>
                    <a href="tel:+918252815142"><img src="/img/phone-call.png" alt=""></a>
                </div>
                <div class="pro">
                    <img src="/img/girls/image22.jpg" alt="">
                    <div class="des">
                        <span>verified</span>
                        <h3>Nikita</h3>
                        <h5>⭐⭐⭐⭐⭐</h5>

                    </div>
                    <a href="https://wa.me/+918252815142?text=Hi I need a pretty girl "><i
                            class="fa-brands fa-whatsapp whatsapp"></i></a>
                    <a href="tel:+918252815142"><img src="/img/phone-call.png" alt=""></a>
                </div>
                <div class="pro">
                    <img src="/img/girls/image23.jpg" alt="">
                    <div class="des">
                        <span>verified</span>
                        <h3>Fatima</h3>
                        <h5>⭐⭐⭐⭐⭐</h5>

                    </div>
                    <a href="https://wa.me/+918252815142?text=Hi I need a pretty girl "><i
                            class="fa-brands fa-whatsapp whatsapp"></i></a>
                    <a href="tel:+918252815142"><img src="/img/phone-call.png" alt=""></a>
                </div>
                <div class="pro">
                    <img src="/img/girls/image24.jpg" alt="">
                    <div class="des">
                        <span>verified</span>
                        <h3>Zoya</h3>
                        <h5>⭐⭐⭐⭐⭐</h5>

                    </div>
                    <a href="https://wa.me/+918252815142?text=Hi I need a pretty girl "><i
                            class="fa-brands fa-whatsapp whatsapp"></i></a>
                    <a href="tel:+918252815142"><img src="/img/phone-call.png" alt=""></a>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer'); -%>