<%- include('partials/header'); -%>
    <section id="product" class="margin-p1">
        <h1>Gallery</h1>
        <h2>All of our best Models</h2>
        <p>Best girls according to your choice</p>


        <div class="pro-container">
            <div class="pro">
                <img src="/img/girl1.jpg" alt="">
                <div class="des">
                    <span>verified</span>
                    <h3>Name1</h3>
                    <h5>⭐⭐⭐⭐</h5>
                </div>
                <a href="#"><img src="img/phone-call.png" alt=""></a>
            </div>
            <div class="pro">
                <img src="/img/girl1.jpg" alt="">
                <div class="des">
                    <span>verified</span>
                    <h3>Name2</h3>
                    <h5>⭐⭐⭐⭐</h5>
                </div>
                <a href="#"><img src="/img/phone-call.png" alt=""></a>
            </div>
            <div class="pro">
                <img src="/img/girl1.jpg" alt="">
                <div class="des">
                    <span>verified</span>
                    <h3>Name3</h3>
                    <h5>⭐⭐⭐⭐</h5>
                </div>
                <a href="#"><img src="/img/phone-call.png" alt=""></a>
            </div>
            <div class="pro">
                <img src="/img/girl1.jpg" alt="">
                <div class="des">
                    <span>verified</span>
                    <h3>Name4</h3>
                    <h5>⭐⭐⭐⭐</h5>
                </div>
                <a href="#"><img src="/img/phone-call.png" alt=""></a>
            </div>
            <div class="pro">
                <img src="/img/girl1.jpg" alt="">
                <div class="des">
                    <span>verified</span>
                    <h3>Name5</h3>
                    <h5>⭐⭐⭐⭐</h5>
                </div>
                <a href="#"><img src="/img/phone-call.png" alt=""></a>
            </div>
            <div class="pro">
                <img src="/img/girl1.jpg" alt="">
                <div class="des">
                    <span>verified</span>
                    <h3>Name6</h3>
                    <h5>⭐⭐⭐⭐</h5>
                </div>
                <a href="#"><img src="/img/phone-call.png" alt=""></a>
            </div>
            <div class="pro">
                <img src="/img/girl1.jpg" alt="">
                <div class="des">
                    <span>verified</span>
                    <h3>Name7</h3>
                    <h5>⭐⭐⭐⭐</h5>
                </div>
                <a href="#"><img src="/img/phone-call.png" alt=""></a>
            </div>
            <div class="pro">
                <img src="/img/girl1.jpg" alt="">
                <div class="des">
                    <span>verified</span>
                    <h3>Name8</h3>
                    <h5>⭐⭐⭐⭐</h5>
                </div>
                <a href="#"><img src="/img/phone-call.png" alt=""></a>
            </div>
            <div class="pro">
                <img src="/img/girl1.jpg" alt="">
                <div class="des">
                    <span>verified</span>
                    <h3>Name9</h3>
                    <h5>⭐⭐⭐⭐</h5>
                </div>
                <a href="#"><img src="/img/phone-call.png" alt=""></a>
            </div>
            <div class="pro">
                <img src="/img/girl1.jpg" alt="">
                <div class="des">
                    <span>verified</span>
                    <h3>Name10</h3>
                    <h5>⭐⭐⭐⭐</h5>
                </div>
                <a href="#"><img src="/img/phone-call.png" alt=""></a>
            </div>
            <div class="pro">
                <img src="/img/girl1.jpg" alt="">
                <div class="des">
                    <span>verified</span>
                    <h3>Name11</h3>
                    <h5>⭐⭐⭐⭐</h5>
                </div>
                <a href="#"><img src="/img/phone-call.png" alt=""></a>
            </div>
            <div class="pro">
                <img src="/img/girl1.jpg" alt="">
                <div class="des">
                    <span>verified</span>
                    <h3>Name12</h3>
                    <h5>⭐⭐⭐⭐</h5>
                </div>
                <a href="#"><img src="/img/phone-call.png" alt=""></a>
            </div>
            <div class="pro-container">
                <div class="pro">
                    <img src="/img/girl1.jpg" alt="">
                    <div class="des">
                        <span>verified</span>
                        <h3>Name13</h3>
                        <h5>⭐⭐⭐⭐</h5>

                    </div>
                    <a href="#"><img src="img/phone-call.png" alt=""></a>
                </div>
                <div class="pro">
                    <img src="/img/girl1.jpg" alt="">
                    <div class="des">
                        <span>verified</span>
                        <h3>Name14</h3>
                        <h5>⭐⭐⭐⭐</h5>

                    </div>
                    <a href="#"><img src="/img/phone-call.png" alt=""></a>
                </div>
                <div class="pro">
                    <img src="/img/girl1.jpg" alt="">
                    <div class="des">
                        <span>verified</span>
                        <h3>Name15</h3>
                        <h5>⭐⭐⭐⭐</h5>

                    </div>
                    <a href="#"><img src="/img/phone-call.png" alt=""></a>
                </div>
                <div class="pro">
                    <img src="/img/girl1.jpg" alt="">
                    <div class="des">
                        <span>verified</span>
                        <h3>Name16</h3>
                        <h5>⭐⭐⭐⭐</h5>

                    </div>
                    <a href="#"><img src="/img/phone-call.png" alt=""></a>
                </div>
                <div class="pro">
                    <img src="/img/girl1.jpg" alt="">
                    <div class="des">
                        <span>verified</span>
                        <h3>Name17</h3>
                        <h5>⭐⭐⭐⭐</h5>

                    </div>
                    <a href="#"><img src="/img/phone-call.png" alt=""></a>
                </div>
                <div class="pro">
                    <img src="/img/girl1.jpg" alt="">
                    <div class="des">
                        <span>verified</span>
                        <h3>Name18</h3>
                        <h5>⭐⭐⭐⭐</h5>

                    </div>
                    <a href="#"><img src="/img/phone-call.png" alt=""></a>
                </div>
                <div class="pro">
                    <img src="/img/girl1.jpg" alt="">
                    <div class="des">
                        <span>verified</span>
                        <h3>Name19</h3>
                        <h5>⭐⭐⭐⭐</h5>

                    </div>
                    <a href="#"><img src="/img/phone-call.png" alt=""></a>
                </div>
                <div class="pro">
                    <img src="/img/girl1.jpg" alt="">
                    <div class="des">
                        <span>verified</span>
                        <h3>Name20</h3>
                        <h5>⭐⭐⭐⭐</h5>

                    </div>
                    <a href="#"><img src="/img/phone-call.png" alt=""></a>
                </div>
                <div class="pro">
                    <img src="/img/girl1.jpg" alt="">
                    <div class="des">
                        <span>verified</span>
                        <h3>Name21</h3>
                        <h5>⭐⭐⭐⭐</h5>

                    </div>
                    <a href="#"><img src="/img/phone-call.png" alt=""></a>
                </div>
                <div class="pro">
                    <img src="/img/girl1.jpg" alt="">
                    <div class="des">
                        <span>verified</span>
                        <h3>Name22</h3>
                        <h5>⭐⭐⭐⭐</h5>

                    </div>
                    <a href="#"><img src="/img/phone-call.png" alt=""></a>
                </div>
                <div class="pro">
                    <img src="/img/girl1.jpg" alt="">
                    <div class="des">
                        <span>verified</span>
                        <h3>Name23</h3>
                        <h5>⭐⭐⭐⭐</h5>

                    </div>
                    <a href="#"><img src="/img/phone-call.png" alt=""></a>
                </div>
                <div class="pro">
                    <img src="/img/girl1.jpg" alt="">
                    <div class="des">
                        <span>verified</span>
                        <h3>Name24</h3>
                        <h5>⭐⭐⭐⭐</h5>

                    </div>
                    <a href="#"><img src="/img/phone-call.png" alt=""></a>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer'); -%>