@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
  @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');


body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

#start-h2{
  font-size: 2vw;
  color: #000000;
  text-align: center;
  padding: 4px 0 20px;
}

.head-logo{
  display:block;
  font-family: 'League Spartan', sans-serif;
font-family: 'Playfair Display SC', serif;
font-size: 7vw;
color: black; 
text-decoration: none;
text-align: center;
}


*,*:before,*:after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  cursor: pointer!important;
}

h1 {
  font-size: 70px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 59px;
  line-height: 54px;
  color: #ed0c0c;
}

h4 {
  font-size: 33px;
  color: #ad5587;
}

h6 {
  font-weight: 700;
  font-size: 15px;
}

p {
  font-size: 20px;
  color: #ed0c0c;
  margin: 15px 0 20px;
}
.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
   
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #000000;
  }


/* header start */

.top#blur.active{
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

#pop{
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:60vw;
  padding: 50px;
  color: #ccc;
  box-shadow: 0 5px 30px rgba(255, 0, 0, 0.3);
  background: #000000;
  z-index: 1200;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

 #pop.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s; 
  filter: blur(0);
}

.contact-pop{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contact-pop .icon a{
  display: block;
  color:#ccc;
  padding: 5px;
  text-decoration: none;
  font-size: 3vw;
}

.contact-pop p {
  color: #ccc;
  font-size: 3vw;
}

#pop h2{
  text-align: center;
  padding: 2vw 0;
  font-size: 4vw;
}

#close-pop{
 display: flex;
 align-items: center;
 justify-content: center;
} 

#close-pop a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 2vw;
  padding: 5px 10px;
  margin-top: 15px;
  background: red;
  border-radius: 20px;
}


#header {
  display: inherit;
  align-items: center;
  justify-content: center;
  padding: 20px 80px;
  background: #cd1616;
  z-index: 999;
  position:relative;
  top: 0;
  left: 0;
}

#navbar {
  padding: 0 ;
  display:block;
  align-items: center;
  justify-content: center;
}


#navbar li {
  display:grid;
  background: #000000;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 20px 20px;
  margin: 5px;
  position: relative;
}


#navbar li a {
  text-decoration: none;
  font-size: 3vw;
  font-weight: 600;
  color: #ffffff;
}

#navbar li:hover{
  background-color: #c71b1b;
  color: #000000;
}







/* Home page */
#show {
 
  height: 90vh;
  width: 100%;
  background-size: cover;
  /* background-position: top 25% right 0; */
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.show-bg{
  background-image: url('/img/background2.jpg');
  filter: blur(3px);
  -webkit-filter: blur(3px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.show-txt{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(100, 96, 96, 0.7); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 1px  #f1f1f1;
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-11vw, 100vh);
  z-index: 2;
  max-width:fit-content;
  max-height:fit-content;
  padding: 20px;
  text-align:start;
}

#show h4 {
  padding-bottom: 15px;
  color: #ffffff;
}
.whatsapp{
  font-size: 36px;
  color:rgb(0, 187, 0);
}



.phone{
  font-size: 30px;
  color: rgb(43, 119, 220);
}
.phone:hover{
  color: #1EA1F2;
}

.whatsapp:hover{
  color: rgb(158, 221, 95);
 
}

.top-2 h4{
  color: rgb(255, 255, 255);
}

.rates a{
 
  color: rgb(0, 0, 0);
}

#show h1 {
  color: #f80000;
}
#show div{
  padding-left:80px ;
}

.refer a {
  display: inline;
  padding: 10px;
}

.refer {
  display: inline-block;
}

.home-img{
  padding-left:100px ;
}


/* container about me */
.container {
	width: 90vw;
  padding: 80px 15px 100px 15px;
	margin-right: auto;
	margin-left: auto
}

.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
	display: table;
	content: " "
}

.container-fluid:after,
.container:after,
.row:after {
	clear: both
}

.row:after {
	clear: both
}

.row {
	margin-right: -15px;
	margin-left: -15px
}

.row:after,
.row:before {
	display: table;
	content: " "
}


.text-area h1 {
	font-family: "Open Sans", sans-serif;
	line-height: 60px;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 50px;
	font-weight: 700;
	text-align: center;
	color: red
}

.text-area p {
	font-family: "Open Sans", sans-serif;
	line-height: 23px;
	color: #ccc!important;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 400;
	text-align: justify
}

.text-area a {
	font-weight: 700;
	color: red
}

.text-area h2,
.text-area h3,
.text-area h4,
.text-area h5,
.text-area h6 {
	font-family: "Open Sans", sans-serif;
	color: #c71b1b !important;
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 0
}

.text-area h2 {
	margin-bottom: 10px;
	margin-top: 0;
	font-size: 30px;
	line-height: 45px;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	font-weight: 800
}

.text-area h2 a {
	color: #ff7801
}

#product{
  text-align: center;
  background: #434343;
  padding: 100px 150px;
}

#product2{
  text-align: center;
}

#product .pro, #product2 .pro{
  width: 17%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 20px rgb(183, 43, 43);
  margin: 15px 0;
  position: relative;
}
.rate .services{
  background-color: #b81212;
  
} 
.rate .services h4{
  color: white;
}



.services{
  background:#434343 ;
  color: #ccc;
  
  border-radius: 20px;
}

.services h4{
  text-align: center;
}

#product .pro> img,#product2 .pro> img{
  width:100%;
  min-height: 50vh;
  border-radius: 20px;
}

#product .pro a img, #product2 .pro a img{
  width: 35px;

  position: absolute;
  bottom: 13px;
  right: 62px;
}

#product .pro .des,#product2 .pro .des{
  text-align: start;
  padding: 10px 0;
}

#product .pro .des span, #product2 .pro .des span{
  color:greenyellow;
  position: absolute;
  right: 30px;
  
}

.description{
  /* display: flex; */
}

.description img{
  float: left;
  margin: 10px 30px;
  width: 20vw;
  height: 60vh;
  box-shadow: 20px 20px 20px rgb(139, 35, 170);
  border-radius: 14px;
}



#product .pro .des h3,#product2 .pro .des h3{
  padding: 10px 0;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

#product .pro .des h4,#product2 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: crimson;
  position: absolute;
  left: 100px;
  bottom: 20px;
}

#product .pro-container,#product2 .pro-container{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  flex-wrap: wrap;
}

.services{
padding: 20px;
  font-size: 24px;
  text-align: start;
}

.services li{
  padding: 10px;
}

#product h1{
  font-size: 90px;
  padding-bottom: 80px;
  color: #cd1616bc;
  font-weight: bold;
}


/* footer */

.hr1 {
  border: 0;
  height: 8px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(188, 12, 12), rgba(0, 0, 0, 0));
}

.hr2{
  border: 0;
  height: 4px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(188, 12, 12), rgba(0, 0, 0, 0));
}



.more-areas{
  
  padding: 30px 0;

  background: #000000;
  color: #ccc;
}

.more-areas-cont{
  float: left;
  width: 100%;

}

.list-local{
  list-style: disc;
}

ul.more-areas-cont li{
  float: left;
  width: 38%;
  
  font-size: 2vw;
 margin: 10px 50px;
}


.more-areas h4{
  text-align: center;
  padding: 4vh;
  font-size: 5vw;
}

/* .more-areas  a{
  text-decoration: none;
  
} */


/* test */
.lft_menu_lnk {
  height: 22px;
  margin-left: -20px;
  list-style: disc;
  padding-top: 5px;
  font-weight: bold;
}
ul.list2col {
  float: left;
  width: 100%;
  margin: 0 0 1em 0;
}






footer{
  background:#000000;
  padding: 40px 0;
  color: #ccc;
}

footer .foot-li{
  display: flex;
  justify-content: center;
}


footer .col{
  width:50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

footer .logo{
  width: 15%;
  margin-bottom: 10px;
  background: red;
  border-radius: 10px;
}

footer h4{
  font-size: 25px;
  color: #900303;
  padding: 10px 0;
}

footer i{
  font-size: 20px;
  padding-right:10px ;
  cursor: pointer;
}

footer .copyright{
  width: 100%;
  text-align: center;
}

footer p{
  font-size: 15px;
  margin: 0 0 8px 0;
  color: #ccc;
}

footer a{
  font-size: 15px;
  text-decoration: none;
  color: #ccc;
  margin-bottom: 10px;
}



.sticky-social{
  position:fixed;
  top:200px;
  right: -10px;
  padding:0px;
  margin:0px;
}



.social{
  list-style:none;
}
.social li{
  padding:10px 10px;
  font-size:25px;
  transition:all 0.5s ease-in-out;
}
.social li:hover{
    margin-left:-40px;
 box-shadow:2px 5px 10px grey;
}
.social li:hover .fa{
    margin-left:20px;
  
}
.fa{
  color:#fff;
  transition:all 0.8s ease-in-out;
}


.pin{
    background-color:#ffffff;
}
.vim{
    background-color:#78bf59;
}

@media (max-width:1500px) {
  .show-txt{
   
    transform: translate(-11vw, 70vh);
  }
}

@media (max-width:1050px) {
  .logo{
    width: 16%;
  }

  #show div {
    padding-left: 0px;
}

#show div {
  padding-left: 50px;
  width: 100%;
}

.refer i{
  font-size: 20px;
}
}


@media (max-width:900px) {
  #product .pro, #product2 .pro{
    min-width: 275px;
  }
}

@media (max-width:970px) {
  ul.more-areas-cont li {
    float: left;
    width: 33%;
    font-size: 3vw;
    margin: 5px 20px;

  }

  .show-txt{
    transform: translate(-11vw, 40vh);
  }
}

.more-areas .container{

    width: 90vw;
    padding: 0px 15px 10px 15px;
    margin-left: auto;
}



@media (max-width:950px) {
  #show {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

#product{
  padding: 100px 150px;
}



  #show div {
    padding-left: 50px;
    width: 100%;
  }
  .description{
    display: block;
  }
  
  .description img{
    float: left;
    margin: 10px 10px;
    width: 50vw;
    height: 60vh;
    box-shadow: 10px 10px 10px rgb(139, 35, 170);
    border-radius: 9px;
  }
}


@media (max-width:850px) {
  /* #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -330px;
    height: 100vh;
    width: 300px;
    background-color: red;
    box-shadow: 0 40px 60px rgb(0, 0,0 / 10%);
    padding: 80px 0 0 10px;
    transition: 0.3s ease-out;
}

#navbar.active{
  right: 0;
} 

#product .pro-container, #product2 .pro-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0 40vw;
  flex-wrap: wrap;
  align-content: space-between;
} */
.logo{
  width: 10%;
}


#header{
  padding: 10px 20px ;
}


#close{
  display: initial;
  position: absolute;
  top: 30px;
  left: 30px;
  color: #fff;
  font-size: 30px;
}

#product{
  padding: 70px 0;
}
}




@media (max-width:550px) {
  #product {
    text-align: center;
    background: #434343;
    padding: 100px 40px;
}

.show-txt{
  transform: translate(-11vw, 35vh);
}

#product .pro, #product2 .pro {
  min-width: 310px;
}

#show h2{
  font-size: 27px;
}

#show h4 {
  font-size: 15px;
  padding-bottom: 0;
  color: #ffffff;
}

.whatsapp{
  font-size: 40px;
  color:rgb(0, 187, 0);
}

.phone{
  font-size: 30px;
  color: rgb(43, 119, 220);
}
.phone:hover{
  color: #1EA1F2;
}

.whatsapp:hover{
  color: rgb(158, 221, 95);
 
}


#show h1 {
  font-size: 20px;
  color: #f80000;
  line-height: normal;
}
#show div{
  padding-left:20px ;
}


#navbar li {
  display:grid;
  background: #000000;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 10px 20px;
  margin: 10px;
  margin-bottom: 15px;
  position: relative;
}

#navbar li a {
  font-size: 5vw;
  font-weight: 600;
  color: #ffffff;
}

#start-h2 {
  font-size: 3vw;
  padding:  0 20px;
}

.head-logo{
  font-size: 7vw;
}

#pop{
  padding: 20px;
  width: 70vw;
}

#product .pro-container, #product2 .pro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}
}